<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Conference Plus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D082354A1E526D8A0043FF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D082355E1E526D8A0043FF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D08235691E526D8A0043FF04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
